*.bak
/target/
hs_err_*.log
*.log
soatest/.metadata/
.jtest/
jtest-ma/
jtest-sa/
jtest-ut/
jtest-mt-cov/
.idea/
jtest-ft-cov/
soatest/report-bookstore/
soatest/report-parabank/
/.README.md.html
/parabank.iml
/soatest/localsettings.properties
/soatest/stubs/
.parasoft
/.arcconfig
